adium-theme-ubuntu==0.3.4
altgraph==0.15
astroid==1.6.3
backports.functools-lru-cache==1.5
configparser==3.5.0
dis3==0.1.2
enum34==1.1.6
future==0.16.0
futures==3.2.0
isort==4.3.4
lazy-object-proxy==1.3.1
macholib==1.9
mccabe==0.6.1
pefile==2017.11.5
pycurl==7.43.0
pyfiglet==0.7.5
PyInstaller==3.3.1
pylint==1.8.4
python-apt==1.1.0b1+ubuntu0.16.4.1
singledispatch==3.4.0.3
six==1.11.0
unity-lens-photos==1.0
wrapt==1.10.11
